<div class="ui container default-container">
    <div class="announce-container" *ngIf="!!announce_in_banner && announce_in_banner.length > 0">
        <div class="ui vertical segment">
            <div class="ui label">
                <i class="globe icon"></i> 推荐内容
            </div>
        </div>
        <div class="ui vertical segment">
            <swiper [config]="swiper_config" (mouseenter)="onSwiperHover( true )" (mouseleave)="onSwiperHover( false )" #swiper>
                <div *ngFor="let announce_banner of announce_in_banner">
                    <a class="announcement" [href]="announce_banner.content" target="_blank">
                        <img [src]="announce_banner.image_url" alt="">
                    </a>
                </div>
            </swiper>
        </div>
    </div>
    <div class="announce-container" *ngIf="!!announce_in_bangumi && announce_in_bangumi.length > 0">
        <div class="ui vertical segment">
            <div class="ui label">
                <i class="star icon"></i> 推荐番組
            </div>
        </div>
        <div class="ui vertical segment">
            <div class="ui five doubling cards">
                <div class="card bangumi-card" *ngFor="let announce_bangumi of announce_in_bangumi">
                    <a class="image" [routerLink]="['/bangumi', announce_bangumi.bangumi.id]">
                        <responsive-image [src]="announce_bangumi.bangumi.cover_image.url"
                                          [size]="{
                                            width: '100%',
                                            ratio: 0.8,
                                            originalWidth: announce_bangumi.bangumi.cover_image.width,
                                            originalHeight: announce_bangumi.bangumi.cover_image.height}"
                                          [background]="announce_bangumi.bangumi.cover_image.dominant_color"></responsive-image>
                    </a>
                    <div *ngIf="announce_bangumi.bangumi.favorite_status" class="ui ribbon label"
                         [ngClass]="{
                           orange: announce_bangumi.bangumi.favorite_status === 1,
                           olive: announce_bangumi.bangumi.favorite_status === 2,
                           blue: announce_bangumi.bangumi.favorite_status === 3,
                           brown: announce_bangumi.bangumi.favorite_status === 4,
                           grey: announce_bangumi.bangumi.favorite_status === 5
                           }">{{FAVORITE_LABEL[announce_bangumi.bangumi.favorite_status]}}
                    </div>
                    <a class="content" [routerLink]="['/bangumi', announce_bangumi.bangumi.id]">
                        <span>{{announce_bangumi.bangumi.name_cn}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="announce-container">
        <div class="ui vertical segment">
            <div class="ui label">
                <i class="rss icon"></i> 当前放送
            </div>
        </div>
        <div class="ui vertical segment">
            <div class="ui two item stackable tabs menu">
                <a class="item" [ngClass]="{active: bangumiType === 1001}" (click)="changeBangumiType(1001)">中文字幕</a>
                <a class="item" [ngClass]="{active: bangumiType === 1002}" (click)="changeBangumiType(1002)">RAW (No Subtitle)</a>
            </div>
            <div class="ui active inverted dimmer on-air-loading-wrapper" *ngIf="isLoading">
                <div class="ui medium loader"></div>
            </div>
            <div class="ui five doubling cards" *ngIf="!isLoading">
                <div class="card bangumi-card" *ngFor="let bangumi of onAirBangumi">
                    <a class="image" [routerLink]="['/bangumi', bangumi.id]">
                        <responsive-image [src]="bangumi.cover_image.url"
                                          [size]="{
                                            width: '100%',
                                            ratio: 1.405152224824,
                                            originalWidth: bangumi.cover_image.width,
                                            originalHeight: bangumi.cover_image.height}"
                                          [background]="bangumi.cover_image.dominant_color"></responsive-image>
                    </a>
                    <div *ngIf="bangumi.favorite_status" class="ui ribbon label"
                         [ngClass]="{
                           orange: bangumi.favorite_status === 1,
                           olive: bangumi.favorite_status === 2,
                           blue: bangumi.favorite_status === 3,
                           brown: bangumi.favorite_status === 4,
                           grey: bangumi.favorite_status === 5
                           }">{{FAVORITE_LABEL[bangumi.favorite_status]}}
                    </div>
                    <a class="content" [routerLink]="['/bangumi', bangumi.id]">
                        <span *ngIf="bangumiType === 1001">{{bangumi.name_cn}}</span>
                        <span *ngIf="bangumiType === 1002">{{bangumi.name}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

