<div class="ui container web-hook-list-container">
    <div class="ui secondary pointing menu">
        <a routerLink="/settings/user" class="item">用户设置</a>
        <a routerLink="/settings/web-hook" class="active item">Web Hook</a>
        <a routerLink="/settings/bangumi" class="item" *ngIf="isBgmEnabled">Bangumi账户</a>
    </div>
    <div class="ui segment">
        <h4>添加 Web Hook</h4>
        <div class="ui message">
            下面列出了所有可用的 Web Hook 。如果你想开发 Web Hook 并在本站使用，请联系我们。
        </div>
        <div class="web-hook-list">
            <div class="ui segment" *ngFor="let webHook of webHookList">
                <div class="name">{{webHook.name}}</div>
                <div class="permission-tags">
                    <span class="key">权限</span>
                    <div *ngFor="let perm of webHook.permissions" class="ui tiny label">{{perm}}</div>
                </div>
                <div class="desc" [innerHtml]="webHook.description">
                </div>
            </div>
        </div>
    </div>
</div>