<div class="ui container web-hook-list-container">
    <div class="ui secondary pointing menu">
        <a routerLink="/settings/user" class="item">用户设置</a>
        <a routerLink="/settings/web-hook" class="active item">Web Hook</a>
        <a routerLink="/settings/bangumi" class="item" *ngIf="isBgmEnabled">Bangumi 账户关联</a>
    </div>
    <div class="ui segment">
        <h4>添加 Web Hook</h4>
        <div class="ui message">
            <p>Web Hook 为第三方提供的功能扩展服务，你可以通过添加 Web Hook 扩展本站的功能。</p>
            <p>当你添加 Web Hook 后，服务提供方将可以获得您在本站点发生的相关事件信息（如番组章节更新、番组收藏状态改变等）。</p>
            <p>Web Hook 的添加仅应用于你的账号，你可以随时移除添加的 Web Hook 。</p>
            <p>请从下方列表选择想要添加的 Web Hook 。</p>
        </div>
        <div class="web-hook-list">
            <div class="ui segment" *ngFor="let webHook of webHookList">
                <div class="name">{{webHook.name}}</div>
                <div class="permission-tags">
                    <span class="key">权限</span>
                    <div *ngFor="let perm of webHook.permissions" class="ui tiny label">{{perm}}</div>
                </div>
                <div class="desc" [innerHtml]="webHook.description">
                </div>
            </div>
        </div>
        <div class="ui message">
            <p>如果你想开发更多 Web Hook 供本站使用，请联系我们。</p>
        </div>
    </div>
</div>