<div class="screen ui grid">
    <div class="canvas" [ngStyle]="coverStyle">
        <div class="ui bottom left attached label" *ngIf="coverAuthor && coverLink">
            Artist
            <div class="detail"><a href="{{coverLink}}" rel="nofollow">{{coverAuthor}}</a></div>
        </div>
    </div>
    <div class="panel">
        <div class="outer-panel">
            <div class="inner-panel">
                <h2 class="ui icon header">
                    {{siteTitle}}
                    <div class="ui red horizontal label ng-star-inserted">New Year</div>
                    <div class="sub header">The sparkle of anime, at your fingertips.</div>
                </h2>
                <form class="ui form" (ngSubmit)="login()" [formGroup]="loginForm"
                      [ngClass]="{error: !loginForm.valid}"
                      novalidate>
                    <div class="ui field">
                        <label for="name">用户名</label>
                        <input id="name" type="text" formControlName="name" placeholder="用户名">
                    </div>
                    <div class="ui field">
                        <label for="password">密码</label>
                        <input id="password" type="password" formControlName="password" placeholder="密码">
                    </div>
                    <div class="field" id="remember-login">
                        <div class="ui checkbox">
                            <input id="remember" type="checkbox" formControlName="remember">
                            <label for="remember">保持登入状态</label>
                        </div>
                    </div>
                    <button class="ui primary button large fluid submit" type="submit"
                            [disabled]="!loginForm.valid">
                        登入
                    </button>
                    <div class="ui inverted dimmer active page" *ngIf="inProgress">
                        <div class="ui loader"></div>
                    </div>
                </form>
                <div class="ui row centered grid">
                    <a [routerLink]="['/forget']">忘记密码</a>
                </div>
                <div class="ui row centered grid">
                    <a [routerLink]="['/register']">注册账户</a>
                </div>
                <div class="ui error message" *ngIf="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
            </div>
        </div>
        <footer id="page-footer">
            <div class="copyright-content">2019-2021 Project Railgun</div>
            <div class="credits">Hosted by <a target="_blank" href="https://about.eve.network" rel="noopener nofollow">EVE
                Network</a></div>
            <div class="credits">Powered by <a target="_blank" href="https://level5.network" rel="noopener nofollow">Level5
                Network</a></div>
            <div class="ui horizontal bulleted link list">
                <a routerLink="/about/apps" class="item">移动客户端</a>
                <a routerLink="/about/tos" class="item">使用条款</a>
                <a routerLink="/about/privacy" class="item">隐私声明</a>
                <a routerLink="/about/developers" class="item">开发者</a>
            </div>
        </footer>
    </div>
</div>
