<div class="ui container bangumi-account-binding-container">
    <div class="ui secondary pointing menu">
        <a routerLink="/settings/user" class="item">用户设置</a>
        <a routerLink="/settings/web-hook" class="item">Web Hook</a>
        <a routerLink="/settings/bangumi" class="active item">Bangumi 账户关联</a>
    </div>
    <div class="ui segment">
        <h4>Bangumi 登录状态</h4>
        <div class="ui visible message">
            <div class="header">这是什么？</div>
            <p>我们提供的 Bangumi 账户关联功能需要你在 https://bgm.tv 域登陆你的 Bangumi 账号。</p>
            <p>如你需要使用 Bangumi 账户关联功能，请先在此域名登陆 Bangumi 账号后再进行绑定操作。</p>
        </div>
        <div class="bangumi-login-status" *ngIf="isLogin === LOGON_STATUS.UNSURE">正在检查...</div>
        <div class="bangumi-login-status" *ngIf="isLogin !== LOGON_STATUS.UNSURE">
            <i class="status-icon"
               [ngClass]="{'status-logon': isLogin === LOGON_STATUS.TRUE,'status-logout': isLogin === LOGON_STATUS.FALSE}"></i>
            <span class="status-text">当前登录状态：{{isLogin === LOGON_STATUS.TRUE ? '已登录' : '未登录'}}</span>
            <a class="ui basic blue button" target="_blank" *ngIf="isLogin === LOGON_STATUS.FALSE"
               (click)="loginInBgmTv()">点这里去登录</a>
        </div>
    </div>
    <div class="ui segment">
        <h4>Bangumi 账户关联</h4>
        <div _ngcontent-c6="" class="ui visible message">
            <div _ngcontent-c6="" class="header">这是什么？</div>
            <p>将你的本站账户与 Bangumi 账户关联，我们可以自动帮你同步你的收藏状态和观看进度至你的 Bangumi 账户，你还可以直接在番组信息页对番组打分和评价、在番组播放页查看和发表评论。</p>
        </div>
        <div _ngcontent-c6="" class="ui visible message">
            <div _ngcontent-c6="" class="header">这安全么？</div>
            <p>你输入的 Bangumi 账户邮箱和密码都将只记录在你的 番組Collection Plus 浏览器扩展中，不会通过网络发送至我们的服务器，或除 bgm.tv 外的任何站点。</p>
        </div>
        <div class="bangumi-bound" *ngIf="!!authInfo && !isLoading">
            <div class="avatar">
                <img [src]="authInfo.avatar.large" alt="avatar">
            </div>
            <div class="info">
                <div class="nickname">{{authInfo.nickname}}</div>
                <div class="username">@{{authInfo.username}}</div>
                <a class="user-space-url" [href]="authInfo.url" target="_blank">{{authInfo.url}}</a>
                <div class="actions">
                    <button class="ui red button" type="button"
                            confirmDialog
                            dialogTitle="确定取消关联吗？"
                            dialogContent="取消关联后将失去所有与 Bangumi 相关的功能，包括番组详细信息显示。你可以随时重新关联你的 Bangumi 帐号。"
                            (onConfirm)="revokeAuth()">取消关联
                    </button>
                </div>
            </div>
        </div>
        <div class="bangumi-non-bound" *ngIf="!authInfo && !isLoading">
            <form class="auth-form ui form" [formGroup]="authForm" novalidate (submit)="login($event)">
                <div class="field">
                    <label>Bangumi 邮箱</label>
                    <input type="text" placeholder="你的 Bangumi 账户邮箱" formControlName="username"
                           autocomplete="new-username">
                </div>
                <div class="field">
                    <label>Bangumi 密码</label>
                    <input type="password" placeholder="你的 Bangumi 账户密码" formControlName="password"
                           autocomplete="new-password">
                </div>
                <div class="footer">
                    <button class="ui primary button" type="submit">关联</button>
                </div>
            </form>
            <div class="ui active inverted dimmer" *ngIf="isAuthenticating">
                <div class="ui loader"></div>
            </div>
        </div>
    </div>
</div>