<nav class="navbar">
    <a class="sidebar-toggle" (click)="toggleSidebar($event)">
        <i class="icon sidebar"></i>
    </a>
    <a class="brand" [routerLink]="['/']">
        <h2>{{siteTitle}}</h2>
    </a>
    <div class="ui static-search small action input">
        <input type="text" placeholder="搜索…" #staticSearch (keyup.enter)="searchBangumi(staticSearch.value)">
        <button class="ui basic icon button" (click)="searchBangumi(staticSearch.value)">
      <i class="search icon"></i>
    </button>
    </div>
    <div class="right-area">
        <user-action [user]="user"></user-action>
        <a class="search-toggle-button" (click)="toggleFloatSearchFrame()">
            <i class="search icon"></i>
        </a>
    </div>
    <div class="float-search-frame" *ngIf="showFloatSearchFrame">
        <a class="close-button" (click)="toggleFloatSearchFrame()">
            <i class="close icon"></i>
        </a>
        <div class="ui float-search transparent icon input">
            <input type="text" placeholder="搜索…" #floatSearch (keyup.enter)="searchBangumi(floatSearch.value)">
            <i class="search icon"></i>
        </div>
    </div>
</nav>
<div class="sidebar-overlay-backdrop"
     *ngIf="sidebarOverlap && sidebarActive === 'active'"
     (click)="onClickSidebarBackdrop($event)"></div>
<div class="ui sidebar visible ui vertical menu home-sidebar" (click)="onClickSidebar($event)" [@sidebarActive]="sidebarActive">
    <a class="item" [routerLink]="['/']">
        <i class="rss icon"></i>放送中
    </a>
    <a class="item" [routerLink]="['/bangumi']">
        <i class="list icon"></i>所有番組
    </a>
    <a class="item" [routerLink]="['/favorite']">
        <i class="heart outline icon"></i>我的番組
    </a>
    <a class="item" [routerLink]="['/admin']" *ngIf="user && user.level >= 2">
        <i class="wrench icon"></i>管理面板
    </a>
    <div class="item">
        <my-bangumi></my-bangumi>
    </div>
</div>
<main class="home-content" [ngClass]="currentRouteName + (sidebarActive === 'active' ? ' sidebar-active': '')">
    <router-outlet></router-outlet>
</main>

<footer id="page-footer" [ngClass]="currentRouteName + (sidebarActive === 'active' ? ' sidebar-active': '')"
        *ngIf="currentRouteName !== 'Bangumi' && currentRouteName !== 'Favorite'">
    <div class="copyright-content">2019 Project Summer Triangle</div>
    <div class="credits">Powered by <a target="_blank" href="https://level5.network" rel="noopener nofollow">Level5 Network</a> | Hosted by <a target="_blank" href="https://about.eve.network" rel="noopener nofollow">EVE Network</a></div>
    <div class="ui horizontal bulleted link list">
        <a routerLink="/about/apps" class="item">移动客户端</a>
        <a routerLink="/about/tos" class="item">使用条款</a>
        <a routerLink="/about/privacy" class="item">隐私声明</a>
        <a routerLink="/about/developers" class="item">开发者</a>
    </div>
</footer>

<bottom-float-banner></bottom-float-banner>
