<div class="screen ui grid">
    <div class="canvas" [ngStyle]="coverStyle">
        <div class="ui bottom left attached label" *ngIf="coverAuthor && coverLink">
            Artist
            <div class="detail"><a href="{{coverLink}}" rel="nofollow">{{coverAuthor}}</a></div>
        </div>
    </div>
    <div class="panel">
        <div class="outer-panel">
            <div class="inner-panel">
                <h2 class="ui icon header">
                    <img class="ui small image" src="/assets/img/cygnus_logo.png" alt="{{siteTitle}}">
                    {{siteTitle}}
                    <div class="sub header">The sparkle of anime, at your fingertips.</div>
                </h2>
                <form class="ui form" (ngSubmit)="onSubmit()" [formGroup]="registerForm" [ngClass]="{error: !registerForm.valid}">
                    <div class="ui field">
                        <label for="name">用户名</label>
                        <input id="name" type="text" formControlName="name" placeholder="用户名">
                    </div>
                    <div class="ui field">
                        <label for="password">密码</label>
                        <input id="password" type="password" formControlName="password" placeholder="密码">
                    </div>
                    <div class="ui field">
                        <label for="password_repeat">重复密码</label>
                        <input id="password_repeat" type="password" formControlName="password_repeat" placeholder="重复密码">
                    </div>
                    <div class="ui field">
                        <label for="email">邮箱</label>
                        <input id="email" type="text" formControlName="email" placeholder="邮箱（部分中国大陆邮箱服务可能无法送达）">
                    </div>
                    <div class="ui field">
                        <label for="invite_code">邀请码</label>
                        <input id="invite_code" type="text" formControlName="invite_code" placeholder="邀请码">
                    </div>
                    <div>
                        <button class="ui primary button large fluid submit" type="submit" [disabled]="!registerForm.valid">注册</button>
                    </div>
                </form>
                <div class="ui row centered grid">
                    <a [routerLink]="['/login']">已有帐号？立即登入</a>
                </div>
                <div class="ui error message" *ngIf="errorMessage">
                    <p>{{errorMessage}}</p>
                </div>
            </div>
        </div>
        <footer id="page-footer">
            <div class="copyright-content">2019 Project Summer Triangle</div>
            <div class="credits">Hosted by <a target="_blank" href="https://about.eve.network" rel="noopener nofollow">EVE Network</a></div>
            <div class="credits">Powered by <a target="_blank" href="https://level5.network" rel="noopener nofollow">Level5 Network</a></div>
            <div class="ui horizontal bulleted link list">
                <a routerLink="/about/apps" class="item">移动客户端</a>
                <a routerLink="/about/tos" class="item">使用条款</a>
                <a routerLink="/about/privacy" class="item">隐私声明</a>
                <a routerLink="/about/developers" class="item">开发者</a>
            </div>
        </footer>
    </div>
</div>
